.expense_item{
  display: flex;  
  justify-content: space-between;
  align-items: center;
  background-color: #79b3b3;
  padding: .5rem;
  margin: 1rem 0;
}
.expense_item_discription{
    height: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    flex: 1;
   
}
.expense_item h2{
    font-size: 2rem;
    margin: 0 1rem;
    flex: 1;
    color: white;
 
}
.expense_item__price{
font-size: 1rem;
font-weight: bold;
color: white;
background-color: blueviolet;
border: 1px solid white;
padding: 0.5rem;
border-radius: 12px;
}
.btnfun{
  padding: 10px;
  margin-left: 10px;
  border-radius: 12px;
  border: 1px solid white;
  background-color: brown;
  color: white;
  font-weight: bold;
}
